.container_events

  %h3.graph_title='Categories'
  .circle_graphs
    .g1
      %h4.graph_title='Likes'
      #chart1
        %svg{:style => 'height:150px; width: 250px'}
    .g1
      %h4.graph_title='Comments'
      #chart2
        %svg{:style => 'height:150px; width: 250px'}
    .g1
      %h4.graph_title='Images'
      #chart3
        %svg{:style => 'height:150px; width: 250px'}

  %h3.graph_title='Event counts'
  #chart
    %svg{:style => 'height:350px'}

  %h3.graph_title='User activities'
  #chart_sign
    %svg{:style => 'height:350px'}