//= require font-awesome
//= require gallery
//= require twitter/bootstrap
//= require events
//= require nv.d3

@font-face {
  font-family: 'Quicksand';
  //src: url('Quicksand-Bold.otf');
  //src: url('Quicksand-BoldItalic.otf');
  //src: url('Quicksand-Italic.otf');
  //src: url('Quicksand-Light.otf');
  //src: url('Quicksand-LightItalic.otf');
  src: url('Quicksand-Regular.otf');
  //src: url('Quicksand_Dash.otf');

  font-weight: normal;
  font-style: normal;
}

html, body {
  font-family: "Quicksand";
  margin: 0;
  padding: 0;
}

body {
  box-shadow: inset 0 0 350px rgba(0, 0, 0, 0.9);
  color: #B3B3B3;
  background-color: #404040;
}

blockquote small {
  color: #656565;
}

.login {
  margin-right: 10px;
}

.login icon {
  margin-right: 10px;
}

.title {
  font-size: 26px;
}

#header h2 {
  margin: 0;
}

#header {
  padding-top: 20px;
  min-height: 50px;
  width: 100%;
  position: relative;
  background-color: #242424;
  border-bottom: 3px solid black;
  color: #FFFFFF;
}

#fader {
  position: relative;
  height: 90%;
}

#fader img {
  height: 100%;
  width: 100%;
}

.content_container {
  position: relative;
}

.self_container {
  margin: 0 auto;
  border: 1px solid red;
}

.font {
  display: inline;
  font-family: Quicksand;
}

.container_img {
  min-height: 600px;
  position: relative;
  display: block;
  min-width: 500px;
  width: 80%;
  margin: 0 auto;
  padding: 25px 0 100px 0;
  height: auto;
  overflow: hidden;
}

.arrow_left, .arrow_right {
  position: absolute;
  top: 250px;
}

.arrow_left {
  left: -100px;
}

.arrow_right {
  right: -100px;
}

.cat_name {
  text-align: center;
}

.error_messages {
  color: red;
}

.container_5_img {
  padding-top: 125px;
  position: relative;
  display: block;
  min-width: 500px;
  width: 85%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.like_block {
  display: inline-block;
  margin-left: 20px;
}

.img_show {
  width: 420px;
  height: auto;
  float: left;
}

.images_block {
  position: relative;
  width: 220px;
  height: 270px;
  display: inline-block;
}

.image img{
  width: 220px;
  height: 220px;
}

.image {
  display: inline-block;
}

.image-hover {
  opacity: 0;
  width: 220px;
  height: 220px;
  position: absolute;
  border-radius: 50%;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.image-hover:hover {
  box-shadow: 0 0 10px 1px black;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.info_block {
  color: #B3B3B3;
  margin-top: 50%;
  text-align: center;
}

.comments {
  width: 450px;
  word-wrap: break-word;
}

.comment-form {
  width: 500px;
  padding: 20px;
  position: relative;
  float: left;
}

.comment_time {
  position: relative;
  float: right;
}

.pagination {
  display: block;
  text-align: center;
}

.icon-thumbs-up-alt {
  cursor: pointer;
}

.like_counter, .like_buttons {
  display: inline-block;

}

.pull-right a {
  text-decoration: none;
}

#global {
  //margin-bottom: 30px;
  min-height: 650px;
  position: relative;
  width: 100%;
  height: 100%;
}

.subscribe {
  text-align: center;
  font-size: 46px;
  position: relative;
  margin: 40px 0 -50px 0;
  z-index: 3;
}

.unsibscribe {
  color: #7B7B7B!important;
}

.subscribe a {
  color: inherit;
}

.sub {
  line-height: 1;
}

.text_sub {
  position: relative;
  font-size: 26px;
  line-height: 0.1;
}

// RATING

.rating {
  cursor: pointer;
  display: inline-block;
  unicode-bidi: bidi-override;
  direction: rtl;
}

.rating > a {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.rating > a:hover:before {
  content: "\2605";
  position: absolute;
}

.rating > a:hover:before,
.rating > a:hover ~ a:before {
  color: #428bca;
  content: "\2605";
  position: absolute;
}

.rating > a {
  text-decoration: none;
}
// RATING



//FOOTER

#footer, #footer_nav_block {
  color: #FFFFFF;
  background: url("../drop_menu_bg.png");
}

#footer {
  z-index: 1;
  border-top: 3px solid black;
  width: 100%;
  position: relative;
  min-height: 100px;
  background-color: #515151;
}

#footer_nav_block {
  top: -50px;
  z-index: 2;
  position: relative;
  min-height: 100px;
  border: 3px solid black;
  width: 60%;
  margin: 0 auto;
  display: block;
  background-color: #515151;
  border-bottom: none;
}

.footer_nav_block_items span {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.footer_nav_block_items {
  margin: 10px 0 0 5px;
  float: left;
  display: table;
  width: 19%;
  height: 85px;
  border-right: 1px solid #515151;
}

.footer_nav_block_items:last-child {
  border-right: none;
}

#footer_footer {
  padding-top: 5px;
  text-align: center;
  height: 25px;
  background-color: black;
  width: 100%;
}
