//= require bootstrap
//= require bootstrap-responsive
//= require font-awesome

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #929292;

}

#header {
  min-height: 75px;
  width: 100%;
  position: relative;
  background-color: #515151;
  border-bottom: 3px solid black;
}

.container {
  border: 1px solid yellow;
}

//FOOTER

#footer {
  z-index: 1;
  border-top: 3px solid black;
  width: 100%;
  position: absolute;
  bottom: 0;
  min-height: 100px;
  background-color: #515151;
}

#footer_nav_block {
  top: -50px;
  z-index: 2;
  position: relative;
  min-height: 100px;
  border: 3px solid black;
  width: 60%;
  margin: 0 auto;
  display: block;
  background-color: #515151;
  border-bottom: none;
}

.footer_nav_block_items span {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.footer_nav_block_items {
  padding: 0 auto;
  float: left;
  display: table;
  width: 19%;
  height: 100px;
  border-right: 1px solid red;
}

.footer_nav_block_items:last-child {
  border-right: none;
}

#footer_footer {
  padding-top: 5px;
  text-align: center;
  height: 25px;
  background-color: black;
  width: 100%;
}

.header_line {
  height: 3px;
  background-color: black;
}
