table {
  text-align: center;
}

td {
  text-align: center;
}

.d1 {
  min-width: 200px;
  min-height: 25px;
  display: inline-block;
}

.d1:first-child {
  min-width: 35px;
}

.d2 {
  display: inline-block;
  min-width: 300px;
}

.d0:nth-child(odd) {
  background-color: #8E8E8E;
}

.container_5_img {
  padding-top: -100px;
}