.rating
  =link_to rate_this_path(@image.id, '5'), :remote => true do
    %i.icon-star-empty
  =link_to rate_this_path(@image.id, '4'), :remote => true do
    %i.icon-star-empty
  =link_to rate_this_path(@image.id, '3'), :remote => true do
    %i.icon-star-empty
  =link_to rate_this_path(@image.id, '2'), :remote => true do
    %i.icon-star-empty
  =link_to rate_this_path(@image.id, '1'), :remote => true do
    %i.icon-star-empty
