.container_5_img
  -@category_last_image.each do |cat|
    .images_block
      .cat_name
        %h3
          %b= cat.title.upcase

      .image
        = link_to show_categories_path(cat.title) do
          = image_tag cat.images.first.image.url(:thumb)
      .info_block
        %i.icon-picture
          = cat.images.size